# --- Dependencies (Berlaku untuk semua sub-folder) ---
node_modules/
jspm_packages/
.pnp
.pnp.js

# --- Testing ---
coverage/

# --- Production Build ---
dist/
build/

# --- Environment Variables (PENTING: Jangan di-push) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Editor & OS Files ---
.DS_Store
*.pem
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?